html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg,  #f3c6f6 0%,  #ed89f3 52%, #db92df 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.container {
    background-color: rgba(251, 156, 5, 0.629);
    width: 50%;
}
header{
  background-color:rgb(41, 1, 57);
  top: 0%;
  left: 0%;
  padding: 20px 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: rgb(41, 1, 57);
  padding: 10px 10px;
  box-shadow: 0px 5px 20px rgb(233 18 18 / 5%);
}
.logo{
  color: rgb(251, 245, 245);
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
.logo span{
  color: #f77a04;
}
.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
  
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin:0;
}
.lista-citas .cita button {
  margin-top: 1rem!important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}
.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  max-width: 100%;
}